<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accueil</title>
    <style>
        a{
            text-decoration: none;
            padding: 10px;
            background-color:darkslategrey ;
            color: antiquewhite;
        }
    </style>
</head>
<body>
    <h1>Happy coders Academy</h1>
    <h3>Outils et ressources</h3>
    <a href="{{ url_for('drive') }}">DRIVE</a>
    <a href="{{ url_for('all_pastes') }}">COPY</a>
    <a href="{{ url_for('faq_scratch') }}">FAQ-SCRATCH</a>
    
</body>
</html>